openapi: 3.0.0
info:
  title: Snelnotuleren API
  version: '1.0.0'
  description: |
    De Snelnotuleren API stelt je in staat om audio opnames automatisch om te zetten naar notulen.
    
    ## Authenticatie
    De API gebruikt client credentials voor authenticatie. Je kunt je credentials verkrijgen via het dashboard.
    
    ## Webhooks
    Je kunt webhooks gebruiken om direct een notificatie te krijgen wanneer je notulen klaar zijn. 
    Geef een webhook_url mee bij het aanmaken van een order om updates te ontvangen.
    
    ## Prijzen
    - Transcriptie: €5
    - Korte notulen: €10
    - Middellange notulen: €20
    - Lange notulen: €25

servers:
  - url: https://api.snelnotuleren.nl/api/v1
    description: Productie API

paths:
  /auth/token:
    post:
      summary: Verkrijg een access token
      description: Genereer een access token met je client credentials
      operationId: getToken
      tags:
        - Authenticatie
      parameters:
        - in: header
          name: X-Client-ID
          required: true
          schema:
            type: string
          description: Je client ID
        - in: header
          name: X-Client-Secret
          required: true
          schema:
            type: string
          description: Je client secret
      responses:
        '200':
          description: Token succesvol gegenereerd
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: JWT token voor API requests
                  expires_in:
                    type: integer
                    description: Vervaltijd in seconden
                  token_type:
                    type: string
                    description: Token type (altijd "Bearer")

  /create-order:
    post:
      summary: Maak een nieuwe order aan
      description: Creëer een nieuwe order voor het verwerken van een audio bestand
      operationId: createOrder
      tags:
        - Orders
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fileName
                - email
                - modelType
                - reportType
                - context
              properties:
                fileName:
                  type: string
                  description: Naam van het audio bestand
                  example: "vergadering.mp3"
                email:
                  type: string
                  format: email
                  description: Email voor notificaties
                  example: "contact@bedrijf.nl"
                modelType:
                  type: string
                  enum: [standard]
                  description: Type transcriptie model
                reportType:
                  type: string
                  enum: [transcriptie, korte_notulen, middel_notulen, lange_notulen]
                  description: Type rapport
                context:
                  type: string
                  description: Naam/context van de vergadering
                  example: "Bestuursvergadering Q1"
                webhook_url:
                  type: string
                  format: uri
                  description: URL waar webhook notificaties naartoe gestuurd worden
                  example: "https://jouw-domein.nl/webhook"
                smart_detection:
                  type: boolean
                  description: Automatische agendapunt detectie
                  default: false
                speaker_diarization:
                  type: boolean
                  description: Sprekerherkenning gebruiken
                  default: false
                speaker_count:
                  type: integer
                  description: Verwacht aantal sprekers
                  minimum: 1
                  maximum: 10
      responses:
        '202':
          description: Order accepted for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: string
                    description: Unieke order ID
                  uploadUrl:
                    type: string
                    description: Signed URL voor bestand upload
                  status:
                    type: string
                    enum: [processing]
                  estimatedProcessingTime:
                    type: string
                    description: Geschatte verwerkingstijd
                    example: "30 minutes"
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                        description: URL naar order details
                      status:
                        type: string
                        description: URL voor status updates
                  webhook:
                    type: object
                    description: Webhook configuratie (indien webhook_url is opgegeven)
                    properties:
                      url:
                        type: string
                        description: De webhook URL
                      events:
                        type: array
                        items:
                          type: string
                          enum: [processing.completed, processing.failed]
                        description: Events die naar deze webhook gestuurd worden

components:
  schemas:
    WebhookEvent:
      type: object
      description: Payload die naar de webhook gestuurd wordt
      properties:
        event:
          type: string
          enum: [processing.completed, processing.failed]
          description: Type event
        order_id:
          type: string
          description: ID van de order
        status:
          type: string
          enum: [completed, failed]
          description: Status van de order
        data:
          type: object
          description: Data (alleen bij completed event)
          properties:
            meeting_name:
              type: string
            meeting_date:
              type: string
              format: date
            notulen:
              type: string
            speakers:
              type: array
              items:
                type: string
            metadata:
              type: object
              properties:
                speaker_diarization:
                  type: boolean
                speakers_expected:
                  type: integer
                detected_language:
                  type: string
                categories:
                  type: array
                  items:
                    type: string
        error:
          type: string
          description: Error bericht (alleen bij failed event)

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token verkregen via /auth/token endpoint